<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - apilapse</title>
    <link rel="icon" tipo="image/png" href="/static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h2>Requests</h2>
        <div id="requestsInfo" class="info"></div>
        <div id="requestsList" class="info"></div>
        <div class="options">
            <button id="newRequestButton">Create</button>
        </div>
    </div>
    <script src="/static/js/requests/list.js"></script>
</body>
</html>