<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password - apilapse</title>
    <link rel="icon" tipo="image/png" href="/static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h2>Forgot Password</h2>
        <form id="forgotPasswordForm">
            <input type="email" id="forgotPasswordEmail" placeholder="Email" required>
            <button type="submit">Submit</button>
        </form>
        <div id="forgotPasswordMessage" class="message"></div>
        <div class="links">
            <div><a href="/">Login</a></div>
            <div><a href="/signin">Signin</a></div>
        </div>
    </div>
    <script src="/static/js/forgot_password.js"></script>
</body>
</html>