<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apilapse - API Monitoring Tool</title>
    <link rel="icon" type="image/png" href="/static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
    <header>
        <div class="main-container">
            <div class="header-container">
                <h2>apilapse</h2>
                <nav>
                    <a href="/login">Login</a>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <div class="main-container">
            <h2>Welcome to Apilapse</h2>
            <p>Apilapse is a tool designed to help you monitor the responses of the same API regularly. By comparing the results, you can check if something has changed and receive alerts when changes occur. This ensures that you are always aware of any updates or issues with your APIs.</p>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <!--nav>
                <a href="/pricing">Pricing</a>
                <a href="/blog">Blog</a>
                <a href="/legal_notice">Legal Notice</a>
                <a href="/data_privacy">Data Privacy</a>
                <a href="/cookie_policy">Cookie Policy</a>
            </nav-->
            <p>&copy; <span id="currentYear"></span> apilapse</p>
        </div>
    </footer>
    <script src="/static/js/index.js"></script>
</body>
</html>