<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password - apilapse</title>
    <link rel="icon" tipo="image/png" href="/static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h2>Reset Password</h2>
        <form id="resetPasswordForm">
            <!--input type="text" id="token" placeholder="Token" required-->
            <input type="password" id="newPassword" placeholder="New Password" required>
            <input type="password" id="newPassword2" placeholder="Confirm New Password" required>
            <button type="submit">Reset Password</button>
        </form>
        <div id="resetPasswordMessage" class="message"></div>
    </div>
    <script src="/static/js/reset_password.js"></script>
</body>
</html>