<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin - apilapse</title>
    <link rel="icon" tipo="image/png" href="/static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h2>Sign Up</h2>
        <form id="registerForm">
            <input type="text" id="registerName" placeholder="Name" required>
            <input type="email" id="registerEmail" placeholder="Email" required>
            <input type="password" id="registerPassword" placeholder="Password" required>
            <input type="password" id="registerPassword2" placeholder="Confirm Password" required>
            <button type="submit">Create account</button>
        </form>
        <div id="registerMessage" class="message"></div>
        <div class="links">
            <div><a href="/login">Log in</a></div>
        </div>
    </div>
    <script src="/static/js/signin.js"></script>
</body>
</html>