<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Validate - apilapse</title>
    <link rel="icon" tipo="image/png" href="/static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h2>Validate Account</h2>
        <div id="validateTokenMessage" class="message"></div>
    </div>
    <script src="/static/js/validate.js"></script>
</body>
</html>